<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../partials/head'); %>
        <%- include('../partials/styles'); %>
    </head>
    <!-- Yes -->
    <body>
        <%- include('../partials/body'); %>
    </body>
    <!-- Maybe no? -->
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</html>